@import url(https://fonts.googleapis.com/css?family=Questrial|Patua+One|Source+Code+Pro:400,600,700|Montserrat|Raleway:400,100,800);

body {
  background: white;
}

.nav{
  height: 50px;
  padding-top: 10px;
}

.bg-faded{
  background-color: rgba(0,0,0,0.3) !important;
}

.navbar-light{
  color: WHITE !important;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 1.5em;
  text-transform: uppercase;
}

.name-input{
  margin-top: 40%;
}

/*Album Classes*/
.album{
  width: 30rem;
  height: 30rem;
  background: url('https://source.unsplash.com/category/nature/900x900');
  background-size: cover;
  position: relative;
  background-color: rgb(97, 56, 56);
  background-blend-mode: screen;
  border-radius: 2px;
  transform: perspective(200px) rotateY(-4deg);
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(60%, transparent) , to(rgba(250, 250, 250, 0.5)));
}

.album .reflection{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30rem 30rem 0 0 ;
  border-color:  rgba(255,255,255,0.1) transparent transparent transparent;
}

.style-one{
  color: white;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 1.5em;
  text-transform: uppercase;
}

.artist-name.style-one{
  position: absolute;    
  top: 10px;
  left: 15px;  
}

.album-name.style-one{
  position: absolute;
  top: 10px;
  right: 15px;
}

.style-two{
  color: white;
  font-family: 'Raleway';
  font-weight: 300;
}

.artist-name.style-two{
  font-size: 1.5em;
  position: absolute;    
  top: 56%;
  left: 20px;
}

.album-name.style-two{  
  font-size: 4em;
  position: absolute;    
  top: 40%;
  left: 20px;
  text-transform: uppercase;
}

.style-three{
  color: white;
  font-family: 'Montserrat';
  font-weight: 700;
  text-align: center;
  width: 100%;
}

.artist-name.style-three{
  font-size: 1em;
  position: absolute;    
  top: 52%;

}

.album-name.style-three{  
  font-size: 4em;
  position: absolute;    
  top: 35%;
  text-transform: uppercase;
}